# https://askubuntu.com/questions/59846/bash-history-search-partial-up-arrow
# Note that this only works when you start another terminal (`source ~/.inputrc` won't help to make it work in the current terminal)
"\e[A": history-search-backward
"\e[B": history-search-forward
